// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.time-select button[type="submit"] {
	width: 50vh;
	flex: 1 1 100%;
	background: orange;
	border: none;
	border-radius: $radius;
}