

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" src="../public/css/application.css" media="screen" title="no title" charset="utf-8">
    <title>GreenThumb</title>
  </head>
  <body>

        <div>


      #parse( $template )


    </div>

    <a href="gardenPlot.html">Plots</a>
    <a href="plants.html">Plants</a>
  </body>
</html>
