<!DOCTYPE html>
<html>
  <head>
    <title>Watering for Specific Plant TEST</title>
    <link rel="stylesheet" type="text/css" href="/css/application.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/app.css" type="text/css">    
  </head>
  <body>
    <div>
    test


      #parse( $template )


    </div>
  </body>
</html>
