* {
  margin: 0;
}

body {
  height: 100%;
}

.homePage {
  height: 86vh;
}

.plotPage {
  overflow: scroll;
  height: 93vh;
}

.homeFooter {
  height: 60px;
  background: $brown;
  display: flex;
}

.plotFooter {
  height: 40px;
  background: $brown;
  display: flex;
  .footerButton {
    padding-top: 5px;
  }
}

.footerButton {
  height: 40px;
  padding-top: 20px;
}

.footerButton {
  @extend %buttonStyling;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
