.plot {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 5px 0px;
  outline: red;
  margin: 5px;
}

.box {
  outline: 1px solid $green;
  background-image: url("../../img/dirt.png");
  @extend %setBackgroundStyle;
}

.selectSize {
  .dimensions {
    width: 100%;
    display: flex;
    padding-top: 0px;
    padding-left: 10px;
    p {
      font-size: 15px;
    }
  }
  select {
    margin: 0 5px;
    margin-top: 16px;
    justify-content: space-between;
  }
}
