.feature-header {
  padding: 10px;
  padding-bottom: 0px;
}

.plotPage {
  overflow: scroll;
  height: 93vh;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0px;
  p {
    margin-bottom: 0px;
    text-align: center;
  }
}

.plotButton {
  margin: 10px;
  border-radius: 5px;
  @extend %buttonStyling;
}

form {
  margin: 5px 0px;
}
